[{ elvis
 , [
    { config,
      [ #{ dirs    => ["src"]
         , filter  => "*.erl"
         , ruleset => erl_files
         , rules   => [ {elvis_style, no_debug_call, #{ignore => [proper_contrib_statem]}} ]
         }
      , #{ dirs    => ["."]
         , filter  => "Makefile"
         , ruleset => makefiles
         }
      , #{ dirs    => ["."]
         , filter  => "rebar.config"
         , ruleset => rebar_config
         }
      , #{ dirs    => ["."]
         , filter  => "elvis.config"
         , ruleset => elvis_config
         }
      ]}
   ]}
].
