{erl_opts, [ debug_info
           , warnings_as_errors
           , warn_export_vars
           , warn_unused_import
           , warn_missing_spec_all
           ]}.

{deps, []}.

{shell, [ {apps, [proper_contrib]} ]}.

{plugins, [ rebar3_proper
          , coveralls
          ]}.

{minimum_otp_vsn, "21.0"}.

{profiles, [ { debug
             , [ { deps
                 , [ {redbug, "1.2.1"}
                   ]
                 }
               ]
             }
           , { test
             , [ { erl_opts, [ nowarn_export_all
                             , nowarn_missing_spec_all
                             ]
                 }
               , { deps
                 , [ {coveralls, "v2.0.1"}
                   , {elvis_core, "0.4.2"}
                   , {proper, "v1.3"}
                   ]
                 }
               , { pre_hooks
                 , [ { compile
                     , "erl -pa _build/test/lib/*/ebin -noshell -eval 'init:stop(case elvis_core:rock() of ok -> 0; _ -> 1 end)'"
                     }
                   ]
                 }
               ]
             }
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/proper.coverdata"]}.
{coveralls_service_name, "travis-ci"}.

{dialyzer, [ {warnings, [ underspecs
                        , unknown
                        ]}
           , {plt_apps, all_deps}
           ]}.
