{erl_opts, [ debug_info
           , warnings_as_errors
           , warn_export_vars
           , warn_unused_import
           , warn_missing_spec_all
           ]}.

{deps, []}.

{shell, [ {apps, [proper_contrib]} ]}.

{plugins, [ rebar3_proper
          , covertool
          ]}.

{minimum_otp_vsn, "21.0"}.

{profiles, [ { debug
             , [ { deps
                 , [ {redbug, {git, "https://github.com/massemanet/redbug.git", {tag, "1.2.1"}}}
                   ]
                 }
               ]
             }
           , { test
             , [ { erl_opts, [ nowarn_export_all
                             , nowarn_missing_spec_all
                             ]
                 }
               , { deps
                 , [ {elvis_core, {git, "https://github.com/inaka/elvis_core.git",      {tag, "0.4.2"}}}
                   , {proper,     {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
                   ]
                 }
               , { pre_hooks
                 , [ { compile
                     , "erl -pa _build/test/lib/*/ebin -noshell -eval 'init:stop(case elvis_core:rock() of ok -> 0; _ -> 1 end)'"
                     }
                   ]
                 }
               ]
             }
           ]}.

{cover_enabled, true}.

{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["eunit.coverdata", "proper.coverdata"]}]}.

{dialyzer, [ {warnings, [ underspecs
                        , unknown
                        ]}
           , {plt_apps, all_deps}
           ]}.
